/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
html,
body {
  font-family: Roboto, sans-serif;
  height: 100% !important;
  margin: 0;
  min-height: 100% !important;
  overflow-x: hidden;
  padding: 0;
  background: #f9f9f9;
}
ul,li{
  list-style-type : none;
  padding: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Environment
 */

/* scrollbar */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background-color: transparent;
  display: block;
  height: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: gray;
  border: none;
  border-radius: 5px;
  height: 50px;
}


/* General */
a {
  text-decoration: none;
}

/* Forms */
textarea {
  border: 1px solid #ddd;
  height: 10em;
}

button:disabled {
  cursor: no-drop;
  opacity: .5;
}
/*
 * Content
 */

.row {
  margin: 10px 0 10px 0 !important;
}


/*
 * Forms
 */

mat-icon .fa {
  padding-left: 2px !important;
}


/*
 * base
 */

/* mat-subheader */
.base .mat-subheader .rmt-subheader mat-input-container {
  margin: 0;
}
.base .mat-subheader .rmt-subheader mat-input-container mat-select {
  margin-top: 0;
}
.base .mat-subheader .rmt-subheader mat-input-container .mat-errors-spacer {
  display: none;
}
.base .mat-subheader .rmt-subheader .mat-title {
  -webkit-margin-after: .33em;
  -webkit-margin-before: .33em;
}

/* mat-subheader */

.base .mat-subheader .mat-button {
  margin: 0 0 0 10px;
}

/* forms */
form.base {
  padding: 15px;
}

/* mat list */
mat-list.base {
  padding: 0;
}
/*
 * mat-toolbar
 */

/* font awesome icon */
mat-toolbar .mat-icon-button .fa.fa-2x {
  font-size: 1.5em;
}

/*
 * mat-list
 */

/* mat-list-item */
mat-list-item .mat-avatar {
  background: #dedede;
}

/*
 * Toast
 */

mat-toast.mat-top {
  top: 50px !important;
}

/*
  * Chip
  */

.base .mat-chip-remove mat-icon {
  min-height: 20px;
  min-width: 20px;
}

.mat-chips-no-underline .mat-chips {
  box-shadow: none !important;
}
