<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-frown-o red"></i> Bad Request </h1>
    <p class="lead">We couldn't find what you're looking for on <em><span id="display-domain"></span></em>.</p>
      <div class="row">
        <div fxFlex>
          <h3>What happened?</h3>
          <p class="lead">A 400 error status implies that the server cannot process the request due to something that is perceived to be a client error.</p>
        </div>
      </div>
  </div>
</div>