<section >
  <mat-grid-list cols="3" rowHeight="250">
    <mat-grid-tile class="grid" *ngFor="let user of users">
      <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar src="/client/assets/default_profile.png">
          <mat-card-title>{{user.username}}</mat-card-title>
          <mat-card-subtitle>{{user.firstName}} {{user.lastName}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          </mat-card-content>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</section>
