<section >
  <md-grid-list cols="3" rowHeight="250">
    <md-grid-tile class="grid" *ngFor="let user of users">
      <md-card class="card">
        <md-card-header>
          <img md-card-avatar src="/client/assets/default_profile.png">
          <md-card-title>{{user.username}}</md-card-title>
          <md-card-subtitle>{{user.firstName}} {{user.lastName}} </md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          </md-card-content>
      </md-card>
    </md-grid-tile>
</md-grid-list>
</section>
