<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <h1 matSubheader [innerHtml]="'Navigation'"></h1>
      <a mat-list-item routerLink="/"> Home </a>
      <a mat-list-item routerLink="/custom"> Custom </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.opened = true">
      <mat-icon svgIcon="navigation:ic_menu_24px" matTooltip="exit"></mat-icon>
    </button>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="logout()">
      <mat-icon svgIcon="action:ic_power_settings_new_24px" matTooltip="exit"></mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>