<div>
    <md-card class="signin-card signin-basic">
        <form novalidate [formGroup]="form" (ngSubmit)="f.form.valid && register(form.value)" #f="ngForm" >
            <md-toolbar color="primary">Register</md-toolbar>
            <md-card-content>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <md-input-container style="width: 100%">
                            <input mdInput placeholder="First Name" formControlName="firstName"  name="firstName" required>
                        </md-input-container>
                        <span class="error" *ngIf="f.submitted && form.controls.firstName.invalid"><br>First Name is required</span>
                    </td>
                      <td>
                        <md-input-container style="width: 100%">
                            <input mdInput placeholder="Last Name" formControlName="lastName"  name="lastName" required>
                        </md-input-container>
                        <span class="error" *ngIf="f.submitted && form.controls.lastName.invalid"><br>Last Name is required</span>
                    </td>
                </tr>
            </table>
            <table style="width: 100%" cellspacing="0">
               <tr>
                    <td>
                        <md-input-container style="width: 100%">
                            <input mdInput class="form-control" type="text" formControlName="username" placeholder="Username"  name="username" required >
                        </md-input-container>
                        <span class="error" *ngIf="f.submitted && form.controls.username.invalid"><br>Username is required</span>
                    </td>
               </tr>
               <tr></tr>
               <tr>
                    <td>
                        <md-input-container style="width: 100%">
                            <input mdInput class="form-control" type="text" formControlName="email" placeholder="Email"  name="email" required >
                        </md-input-container>
                        <span class="error" *ngIf="f.submitted && form.controls.email.invalid"><br>Email is required</span>
                    </td>
               </tr>
               <tr></tr>
               <tr>
                    <td>
                        <md-input-container style="width: 100%">
                            <input mdInput class="form-control" type="password" formControlName="password" placeholder="Password"  name="password" required >
                        </md-input-container>
                        <span class="error" *ngIf="f.submitted && form.controls.password.invalid"><br>Password is required</span>
                    </td>
                </tr>
            </table>
          </md-card-content>
          <md-card-actions align="center">
            <button md-raised-button color="primary"  type="submit" [disabled]="loading || !f.form.valid" >Register</button>
            <a md-button [routerLink]="['../login']">Cancel</a>
          </md-card-actions>
          <div type="danger" *ngIf="errMessage != null" class="center-align text-danger">
            <span>{{errMessage}}</span>
          </div>
        </form>
    </md-card>
</div>
