:host {
  display: block;
  height:100%;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mean2-sidenav-container {
  height: 100%;
}

mat-list-item:focus {
  outline: none;
}

mat-icon {
  flex-grow: 0;
  flex-shrink: 0;
}

.mat-line {
  text-overflow: initial !important;
}

.menu-trigger {
  position: absolute;
  height: 65px;
  margin-left: 14px;
  bottom: 0;
}

img {
  margin-top: 14px;
  margin-left: 14px;
}
