
* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.app-container{
  //margin-top: 50px;
  padding-top: 65px;
}

.toggle-mask{
  height: 100%;
  width: 100%;
  z-index: 48;
  background-color: grey;
  opacity: 0.6;
  position: absolute;
  display: none;
  &.toggled{
      display: block;
  }
}

@media only screen and (min-width: 768px) {
  .app-container{
    padding-top: 65px;
    padding-left: 60px;
    &.toggled{
      padding-left: 250px;
    }
  }
}
