<form flex="100" class="base" name="passwordForm" [formGroup]="form"  #passwordForm="ngForm" novalidate autocomplete="off">
  <div>
    <md-input-container class="md-icon-float md-block" show-errors>
      <input mdInput  type="password" formControlName="currentPassword" placeholder="Current Password" id="currentPassword" name="currentPassword" required autofocus />
    </md-input-container>
    <span class="error" *ngIf="form.controls.currentPassword.dirty && form.controls.currentPassword.invalid"><br>Current password is required</span>
  </div>
  <div>
    <md-input-container class="md-icon-float md-block" show-errors>
      <input mdInput  formControlName="newPassword" type="password" validateEqual="verifyPassword" reverse="true" mdInput placeholder="New Password" id="newPassword" name="newPassword" required />
    </md-input-container>
    <span class="error" *ngIf="form.controls.newPassword.dirty && form.controls.newPassword.invalid"><br>new password is required</span>
  </div>
  <div>
      <md-input-container class="md-icon-float md-block" show-errors>
      <input mdInput formControlName="verifyPassword" type="password" validateEqual="newPassword" reverse="false" placeholder="Verify Password" id="verifyPassword" name="verifyPassword" required />
    </md-input-container>
    <span class="error" *ngIf="form.controls.verifyPassword.dirty && form.controls.verifyPassword.invalid">The two passwords aren't the same
<br></span>
  </div>

    <div class="center-align">
      <button md-raised-button color="primary" type="submit" (click)="changePasword(form.value)"  [disabled]="!form.valid || (isLoading$ | async)">Save Password</button>
    </div>
    <div type="danger" *ngIf="hasMessage$ | async" class="center-align text-danger">
      <span>{{hasMessage$ | async}}</span>
    </div>
</form>
