<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="onSubmit()">
  <mat-form-field fxFlex=50>
    <input matInput placeholder="Email" formControlName="email" required>
  </mat-form-field>
  <mat-form-field fxFlex="40">
    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
    <mat-icon [svgIcon]="visibility" matSuffix (click)="hide = !hide"></mat-icon>
  </mat-form-field>
  <br>
  <button type="submit" [disabled]="!form.valid" mat-raised-button>Login</button>
  <br>
  <p *ngIf="errorMessage" class="loginError">
    {{ errorMessage }}
  </p>
</form>
