:host {
  display: block;
  width: 100%;
  height: 100%;
}

.header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-row:hover {
  cursor: pointer;
  position: relative;
  background-color: #F5F5F5;
}

mat-icon {
  position: relative;
  /*visibility: hidden;*/
  opacity: 0.54;
  transform: scale(0.8);
  z-index: 1000;
}

.hidden {
  visibility: hidden;
}

mat-row:hover .hidden {
  visibility: visible !important;
}

.mat-column-action {
  max-width: 25%;
}
