  <form flex="100" class="base" [formGroup]="form" name="userForm" novalidate autocomplete="off" #userForm="ngForm">
    <mat-input-container class="mat-icon-float mat-block" show-errors>
      <input matInput formControlName="firstName" type="text" placeholder="First Name" id="firstName" name="firstName" required autofocus />
    </mat-input-container>

    <mat-input-container class="mat-icon-float mat-block" show-errors>
      <input matInput formControlName="lastName" type="text" placeholder="Last Name" id="lastName" name="lastName" required />
    </mat-input-container>

    <mat-input-container class="mat-icon-float mat-block" show-errors>
      <input matInput  formControlName="email"  type="text" placeholder="Email" id="email"  name="email" lowercase required />
    </mat-input-container>
   <div>
    <mat-input-container class="mat-icon-float mat-block" show-errors>
      <input matInput formControlName="username" type="text" id="username"  placeholder="Username"  name="username" lowercase required class="mat2 mat-input"/>
    </mat-input-container>
  </div>
      <div class="center-align">
      <button mat-raised-button color="primary" type="submit" (click)="saveProfile(form.value)"  [disabled]="!form.valid || (isLoading$ | async)">Save Profile</button>
    </div>
    

    <div type="danger" *ngIf="hasMessage$ | async" class="center-align text-danger">
      <span>{{hasMessage$ | async}}</span>
    </div>
</form>
