<div class="extend-toolbar header" [class.toggled]="isToggled | async">
  <div class="top" mat-colors="{background: 'background-TOPNAV', color: 'primary-50'}">
    <div class="nav-wrapper">
      <ul class="left">
        <b>{{title}}</b>
      </ul>
      <ul class="right">
        <li *ngIf="!(loggedIn$ | async)" matTooltip="Sign in">
          <a [routerLink]="['user/login']" class="login">
            <i class="fa fa-sign-in"></i>
          </a>
        </li>
        <div *ngIf="loggedIn$ | async">
          <a  [matMenuTriggerFor]="menu" mat-button class="logout">
            <i class="fa fa-user-circle-o"></i>
            <span>{{ (user$ | async)?.username }}</span>
          </a>
          <mat-menu #menu="matMenu" [overlapTrigger]="false" >
            <ul *ngIf="canDisplayMenu(this.toolBarList, (user$ | async)?.roles)" >
              <li *ngFor="let item of toolBarList"  >
                  <a mat-menu-item *ngIf="item.shouldRender((user$ | async)?.roles,item.roles) && item.roles.indexOf('*')!==-1 || (loggedIn$ | async)" routerLinkActive="active-link"  routerLink="{{item.state}}"  >
                    <mat-icon class="mat-24 fa-lg fa {{item.icon}} fa-fw"></mat-icon>
                    <span>{{item.title}}</span>
                  </a>
              </li>
            </ul>

            <button mat-menu-item (click)="logout()" >
              <mat-icon class="mat-24 fa-lg" fontSet="fa" fontIcon="fa-power-off"></mat-icon>
              <span> Sign-out </span>
            </button>
          </mat-menu>
        </div>
      </ul>
    </div>
  </div>

</div>
