@import '~@angular/material/prebuilt-themes/deeppurple-amber';
@import 'client/theme.scss';
/* animation */
* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header {
  @include basic-frame-theme($theme);

  .top {
    border-bottom: 1px solid #ddd;
    height: 50px !important;
    line-height: 50px !important;
    padding: 0 1.25rem;
    right: 0;
    z-index: 46;
    left: 0;
    background: white;
    position: fixed;

    .nav-wrapper {
      padding-left: 0;

      .left {
        float: left;
      }

      .right {
        float: right;
      }

      ul {
        margin-top: 0;
        margin-bottom: 0;

        a {
          color: mat-color($primary) !important;

          &:hover {
            background-color: mat-color($primary,50);
          }
        }
      }
    }
  }
}
/*toggle*/
.header.toggled {
  .top {
    transform: translateX(190px);
  }
}
/* for normal screen*/
@media only screen and (min-width: 768px) {
  .header {
    .top {
      .nav-wrapper {
        padding-left: 60px;
      }
    }
  }
  /*toggle*/
  .header.toggled {
    .top {
      transform: none;
      padding-left: 210px;
    }
  }
}
/* List */
.header .top ul li.item {
  width: 50px;
}

.header .top ul li a {
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 0 15px;
  text-align: center;
}

.header .top ul a:hover {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.1);
}
/*Page path title*/
.header .page-title {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {}
/*Drop Down*/
.header .dropdown-button.toolbox-btn {
  padding-right: 0 !important;
  text-align: right !important;
}
/*Menu Expand*/
.header .expand-btn {
  right: -15px;
  position: relative;
}
