@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); /* Firefox 16+*/
  }
  100% {
    -moz-transform: rotate(360deg); /* Firefox 16+*/
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

#spinner {
  background: transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
  & > div {
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #c44420;
    display: block;
    height: 150px;
    left: 50%;
    margin: -75px 0 0 -75px;
    position: relative;
    top: 50%;
    transform: translate3d(0, 0, 0);
    width: 150px;
    &:before {
      -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
      border: 3px solid transparent;
      border-radius: 50%;
      border-top-color: #f4dbd5;
      bottom: 5px;
      content: '';
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    &:after {
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
      border: 3px solid transparent;
      border-radius: 50%;
      border-top-color: #e4a48c;
      bottom: 15px;
      content: '';
      left: 15px;
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
}
