/*@font-face {
  font-family: "Montserrat";
  src: url("/assets/Montserrat-Bold.woff") format("woff")
}*/
body,
html {
    -o-animation-delay: 3;
    animation-delay: 2;
    background-color: #f2f2f2;
    font-family: 'SF Pro Display','SF Pro Icons','Helvetica Neue','Helvetica','Arial',sans-serif !important;
    font-weight: 400;
    height: 100% !important;
    letter-spacing: 0.005em;
    line-height: 1.5;
    margin: 0;
    min-height: 100% !important;
    padding: 0;
    -o-transition-timing-function: 3;
    transition-timing-function: 2;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}
/*
 * Environment
 */
/* scrollbar */
::-webkit-scrollbar {
    display: block;
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
    background-color: transparent;
    display: block;
    height: 15px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: gray;
    border: none;
    border-radius: 5px;
    height: 50px;
}

/**
 Project specifications
 **/

 .error{
   display: block;
   padding: 20px;
   width: 100%;
   text-align: center;
 }

 mat-form-field .error {
   padding: 0;
   margin: 0;
   font-size: 75%;
   text-align: right;
   position: absolute;
   top: 0;
 }

 /* base */
 .base {
   width: 100%;
   padding: 20px;
 }

 .base.light {
  background: #fff;
 }

 .base.dark {
   background: #f6f6f6;
 }

.mat-dialog-container{
  max-width: 100% !important;
}

mat-dialog-content{
  max-height: none !important;
}

.full-screen-dialog {
  max-width: none !important;
  width: 100vw !important;
  height: 100vh !important;
}
