@import './theme.core';

@include mat-core();
@include angular-material-theme($default-light-theme);

@import '../../../../libs/shared/src/components/sidenav/sidenav-theme';
@include mean2-sidenav-theme($default-dark-theme);

@include mat-list-theme($default-dark-theme);