<h3 [innerHtml]="'Uploadez les fichiers séléctionnés'"></h3>

<button type="button" mat-button (click)="uploadImagesToFirebase()" [disabled]="files?.length == 0 || !isEnabledUpload">
  <span  [innerHtml]="'Uploadez'"></span>
</button>
<button type="button" mat-button (click)="clearFiles()">
  <span [innerHtml]="'Réinitialisez'"></span>
</button>

<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef [innerHtml]="'Fichers'"></mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.name}}
      <mat-icon svgIcon="navigation:ic_cancel_24px" matTooltip="close" (click)="remove()"></mat-icon>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

