.base {
  background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    width: 100%;
}
.flex-100 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.md-block{
  margin: 0 auto;
  width: 98%;
}
.center-align{
  margin: 0 auto;
  width: 10%;
}
.text-success{
  color : green;
  width: 15%;
  margin : 0 auto;
}
.text-danger{
  color :red;
  width: 50%;
  text-align: center;
  margin : 0 auto;
}
.error {
  color : red;
}
