<mean2-sidenav-container>
  <mean2-sidenav mode="side" [opened]="isSidenavOpened$ | async">
    <img src="/assets/rominet-logo.svg" width="36px" style="color:black;">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of menuItems$ | async" routerLink="{{item.link}}">
        <mat-icon mat-list-icon svgIcon="{{item.icon}}"></mat-icon>            
        <h4 mat-line> {{item.name}} </h4>
      </mat-list-item>
    </mat-nav-list>
    <div *ngIf="isSidenavOpened$ | async; then sidenavOpen else sidenavClose"></div>
    <ng-template #sidenavOpen>            
      <button class="menu-trigger" mat-icon-button (click)="closeSidenav()">
          <mat-icon svgIcon="navigation:ic_chevron_left_24px" matTooltip="close"></mat-icon>
      </button>
    </ng-template>
    <ng-template #sidenavClose>            
      <button class="menu-trigger" mat-icon-button (click)="openSidenav()">
        <mat-icon svgIcon="navigation:ic_chevron_right_24px" matTooltip="open"></mat-icon>
      </button>
    </ng-template>
  </mean2-sidenav>
  <mean2-sidenav-content #content >
    <mat-toolbar>
      <h1>Mean 2 Demo</h1>  
      <span class="toolbar-spacer"></span>
      <div *ngIf="isLoggedIn$ | async; then logoutButton else loginButton"></div>
      <ng-template #logoutButton>
        <button mat-icon-button Logout>
          <mat-icon svgIcon="action:ic_power_settings_new_24px" matTooltip="exit"></mat-icon>
        </button>
      </ng-template>
      <ng-template #loginButton>
        <button mat-icon-button routerLink="/auth">
          <mat-icon svgIcon="action:ic_exit_to_app_24px" matTooltip="login"></mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </mean2-sidenav-content>
</mean2-sidenav-container>