@import '~@angular/material/_theming.scss';
@include mat-core();
$primary: mat-palette($mat-blue-grey, 800);
$accent: mat-palette($mat-cyan, 600);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.error {
  color: mat-color($warn);
}

// Define a mixin that accepts a theme and outputs the color styles for the component.

@mixin basic-frame-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Use md-color to extract individual colors from a palette as necessary.
  .secondery-text {
    color: mat-color($primary,50);
  }
  .section-title, h2 {
    color: mat-color($accent);
  }

  button {
    &.secondery {
      background-color: mat-color($primary, 50);
      color: mat-color($primary);
    }
  }

}



@mixin Nav-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  // Use md-color to extract individual colors from a palette as necessary.
  background-color: mat-color($primary);
  border-color: mat-color($accent, A400);
}
