$mat-m2-primary: (
    50 : #e6e7e8,
    100 : #bfc2c5,
    200 : #95999e,
    300 : #6b7077,
    400 : #4b525a,
    500 : #2b333d,
    600 : #262e37,
    700 : #20272f,
    800 : #1a2027,
    900 : #10141a,
    A100 : #5ea3ff,
    A200 : #2b86ff,
    A400 : #006af7,
    A700 : #005fde,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);