<div #sidenav class="sidenav " [class.toggled]="isToggled | async">
  <div class="sidebar-nav">
    <div class="head">
      <a routerLink="">
        <img src="assets/logo-mean.ico" width="40px" class="logo">
        <span style="font-size:28px; color:#fff;">Mean 2</span>
        <!--<a class="right pin-icon" (click)="changePinStatus()" [hidden]="!(isNormalScreen && sideNavLock)"><i class=" fa fa-lock fa-fw"></i></a>
        <a class="right pin-icon" ng-click="vm.changePinStatus()" [hidden]="!(isNormalScreen && !sideNavLock)"><i class=" fa fa-unlock fa-fw"></i></a>-->
      </a>
    </div>
    <div class="sidebar">
      <ul>
        <li *ngFor="let item of menuList" >
          <div *ngIf="item.shouldRender((user$ | async)?.roles,item.roles)">
            <a *ngIf="item.roles.indexOf('*')!==-1 || (loggedIn$ | async)" routerLinkActive="active-link" routerLink="{{item.state}}"><i class="fa {{item.icon}} fa-fw"></i><span>{{item.title}}</span></a>
          </div>
        </li>
      </ul>
    </div>


    <div class="user" *ngIf="loggedIn$ | async" routerLinkActive="active-link">
      <div >
        <a [routerLink]="['/user/settings/profile']" >
          <md-icon>person</md-icon>
          <span>{{(user$ | async)?.firstName}} {{(user$ | async)?.lastName}}</span>
        </a>
      </div>
    </div>
    <div class="foot" (click)="toggleNav()">
      <a class="center-align" >
        <i class="fa fa-angle-left fa-fw" *ngIf="isToggled | async" ></i>
        <i  class="fa fa-angle-right fa-fw" *ngIf="!(isToggled | async)"></i>
      </a>
    </div>
  </div>
</div>
