/*
 * sidenav
 */
// Import your custom input theme file so you can call the custom-input-theme function
@import 'client/theme.scss';
/* animation */
* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* normal */
.sidenav {
  @include Nav-theme($theme);
  height: 100%;
  margin-left: -120px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 60px;
  z-index: 49;

  .head {
    background-color: mat-color($primary, 800);
  }
  .foot {
    background-color: mat-color($primary, 800);
    bottom: 0;
    height: 50px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
  }
 /*toggle class*/
  &.toggled {
    margin-left: 0;
    width: 250px;
  }
}

.sidebar-nav {
  list-style: none;
  width: 60px;
}

.sidebar {
  max-height: calc(100vh - 180px);
  overflow-x: hidden;
  overflow-y: auto;
  top: 0 !important;
  width: 250px;
}

.toggle-mask {
  height: 100%;
  width: 100%;
  z-index: 48;
  background-color: grey;
  opacity: 0.6;
  position: absolute;
  display: none;
}

.toggle-left-btn {
  display: block;
}
/* Toggle left */
.wrapper.toggled .toggle-mask {
  display: block;
}

.wrapper.toggled {
  overflow: hidden;
}

.wrapper.toggled .content {
  transform: translateX(250px);
}

.wrapper.toggled .header nav.top {
  transform: translateX(250px);
}

.wrapper.toggled .content {
  height: 100%;
}

.wrapper.toggled .sidenav {
  margin-left: 0;
  width: 250px;
}

.wrapper.toggled .sidebar-nav {
  width: 250px;
}

.wrapper.toggled .sidebar-nav span {
  display: inline;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
  }

  .sidenav {
    margin-left: 0px;
  }

  .toggle-left-btn {
    display: none;
  }
  /* Toggle in normal screen*/
  .wrapper.toggled {
    padding-left: 0;
  }

  .wrapper.toggled .toggle-mask {
    display: none;
  }

  .wrapper.toggled .content {
    transform: none;
    padding-left: 250px;
  }

  .wrapper.toggled .header nav.top {
    transform: none;
    padding-left: 210px;
  }
}
/* design */
.sidenav .sidebar-nav .head {
  height: 50px;
  padding: 0;
  width: 250px;
}

.wrapper.toggled .sidebar-nav .head {
  padding: 0 10px;
}

.sidenav .sidebar-nav .user {
  bottom: 50px;
  height: 60px;
  line-height: 50px;
  padding: 0;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

.wrapper.toggled .sidebar-nav .user {
  padding: 0 10px;
}

.sidenav .sidebar-nav .user a {
  color: #fff;
  text-decoration: none;
  padding:10px 20px;
  
  .active-link {
    background-color: #24272d;
    color: #fff;
  }

}

.sidenav .sidebar-nav .user a mat-icon {
  margin-right: 30px;
}

.sidenav .sidebar-nav .user .image {
  border-radius: 50%;
  height: 36px;
  margin: 12px 5px 12px 12px;
  opacity: 1;
  vertical-align: middle;
  width: 36px;
}

.sidenav .sidebar-nav  {
  .active-link { 
    background-color: #24272d; 
  }
  .user:hover {
    background-color: #24272d; 
  }
}

.dropdown-toggle {
  color: #fff;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}

.sidenav .sidebar .fa {
  margin-right: 30px;
}

.sidenav .sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.sidenav .sidebar ul {
  padding: 0;
}

.sidenav .sidebar ul li {
  display: block;
  position: relative;
  width: auto;
}

.sidenav .sidebar ul li a {
  color: #c5d0de;
  display: block;
  padding: 10px 20px;
}

.sidebar ul li a:hover,
.sidenav .sidebar ul li a.active {
  background-color: #24272d;
  color: #fff;
}

.sidenav .sidebar .arrow {
  float: right;
}

.sidenav .sidebar .fa.arrow:before {
  content: '\f104';
}

.sidenav .sidebar .active > a > .fa.arrow:before {
  content: '\f107';
}

.sidenav .sidebar .nav-second-level li,
.sidenav .sidebar .nav-third-level li {
  border-bottom: 0 !important;
}

.sidenav .sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidenav .sidebar .nav-third-level li a {
  padding-left: 52px;
}

// .sidenav .sidebar ul li a {
//   width: 250px;
// }

.wrapper.toggled .sidebar ul li {
  width: 250px;
}

.wrapper.toggled .sidebar ul li a {
  width: 250px;
}
/* pin icon*/
.pin-icon {
  cursor: pointer;
  padding: 17px 13px;
  position: absolute;
  width: 50px;
  height: 50px;
  color: #c5d0de;
}

.pin-icon:hover {
  color: white;
  background-color: rgba(0,0,0,.1);
}
/* design */
.head span {
  display: block;
  float: left;
  height: 40px;
  margin-top: 5px;
  position: relative;
}

.head span img {
  height: 34px;
  margin-top: 3px;
}

.logo,
.logo:hover {
  background: transparent;
  float: left;
  margin: 8px 10px;
  padding: 0;
}

.logo .shape:hover {
  transition: all 0.2s;
}
