<div>
    <input type="checkbox" class="menu-toggle" id="menu-toggle" [(ngModel)]="menuToogle"/> 
    <label for="menu-toggle" class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></label>

  <div #sidenav class="sidenav" md-colors="{background: 'background-SIDENAVLIGHT'}" [class.toggled]="isToggled$ | async">
    <div class="sidebar-nav">
      <div class="head"  md-colors="{background: 'background-SIDENAVDARK'}">
        <a routerLink="" (click)="menuClick($event)">
          <img src="assets/logo-mean.ico" width="40px" class="logo">
          <span style="font-size:28px; color:#fff;">Mean 2</span>
          <!--<a class="right pin-icon" (click)="changePinStatus()" [hidden]="!(isNormalScreen && sideNavLock)"><i class=" fa fa-lock fa-fw"></i></a>
          <a class="right pin-icon" ng-click="vm.changePinStatus()" [hidden]="!(isNormalScreen && !sideNavLock)"><i class=" fa fa-unlock fa-fw"></i></a>-->
        </a>
      </div>
      <div class="sidebar">
        <ul>
          <li *ngFor="let item of menuList" >
            <div *ngIf="item.shouldRender((user$ | async)?.roles,item.roles)">
              <a *ngIf="item.roles.indexOf('*')!==-1 || (loggedIn$ | async)" routerLinkActive="active-link" routerLink="{{item.state}}" (click)="menuClick()"><i class="fa {{item.icon}} fa-fw"></i><span>{{item.title}}</span></a>
            </div>
          </li>
        </ul>
      </div>


      <div class="user" *ngIf="loggedIn$ | async" routerLinkActive="active-link">
        <div>
          <a [routerLink]="['/user/settings/profile']" (click)="menuClick()">
            <md-icon>person</md-icon>
            <span>{{(user$ | async)?.firstName}} {{(user$ | async)?.lastName}}</span>
          </a>
        </div>
      </div>
      <div class="foot"  md-colors="{background: 'background-SIDENAVDARK'}" (click)="toggleNav()">
        <a class="center-align" >
          <i class="fa fa-angle-left fa-fw" *ngIf="isToggled$ | async" ></i>
          <i  class="fa fa-angle-right fa-fw" *ngIf="!(isToggled$ | async)"></i>
        </a>
      </div>
    </div>
</div>
</div>