<div>
    <md-card class="signin-card signin-basic">
        <form novalidate [formGroup]="form" (ngSubmit)="f.form.valid && login(form.value)" #f="ngForm" >
            <md-toolbar color="primary">Login</md-toolbar>
            <md-card-content>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <md-input-container style="width: 100%">
                            <input mdInput placeholder="Username or Email" formControlName="usernameOrEmail"  name="usernameOrEmail" required>
                        </md-input-container>
                        <span class="error" *ngIf="f.submitted && form.controls.usernameOrEmail.invalid"><br>Username or Email is required</span>
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <md-input-container style="width: 100%">
                            <input mdInput class="form-control" type="password" formControlName="password" placeholder="Password"  name="password" required >
                        </md-input-container>
                        <span class="error" *ngIf="f.submitted && form.controls.password.invalid"><br>Password is required</span>
                    </td>
                </tr>
                </table>
            </md-card-content>
            <md-card-actions align="center">
                <button md-raised-button color="primary"  type="submit" [disabled]= "(isLoading$ | async)" >Login</button>
                <a md-button [routerLink]="['../register']">Register</a>
            </md-card-actions>
            <div type="danger" *ngIf="hasMessage$ | async" class="center-align text-danger">
                <span>{{hasMessage$ | async}}</span>
            </div>
        </form>
    </md-card>
</div>
